<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Infographic Coding Visualizer (Force)</title>
    <link rel='stylesheet' href='d3-tip.css'>
    <link rel='stylesheet' href='main.css'>
    <link rel='stylesheet' href='hover.css'>
    <link rel='stylesheet' href='force.css'>
</head>
<body>
<div id='main'>
    <svg></svg>
    <p id='alpha'></p>
</div>
</body>
<script src='d3.v5.js'></script>
<script src='d3-tip.js'></script>
<script src='const.js'></script>
<script src='force.js'></script>
</html>
